<!DOCTYPE html>
<html>
<head>
	<meta charset='UTF-8'>
	<title>About</title>
	<link rel='stylesheet' href='styles/style.css' type="text/css">
</head>

<body>

<div>
	<p>hi</p>
	<p>About us</p>	
</div>




</body>
</html>