<!DOCTYPE html>
<html>
<head>
	<meta charset='UTF-8'>
	<title>About</title>
	<link rel='stylesheet' href='styles/about.css' type='text/css'>
</head>

<body>

<div class='about-block'>
	<div class='about-us'>
	<div class='center-container-text'>
		<h2>About us</h2>
	</div>
		<p>These are clubs for men and women who want not only to cut their hair, but also to tidy up their facial hair.</p>	
		<p>It is here that procedures are carried out that are not available to visitors to ordinary hairdressers.</p>
	</div>
	

</div>




</body>
</html>