<!DOCTYPE html>
<html>

<head>

	<meta content-type="text/html; charset=utf-8">
</head>

<body>
<br />
<h2 class='text-center'>Приход за смену</h2>
<br />
<div class='container'>
<form action='/usselect' method='POST' >
<select class="form-select" aria-label="выбор" name='userselect1'>
  <option selected>Номер тары</option>
  <option value="540">540</option>
  <option value="12g">12G</option>
  <option value="540-45">540-45</option>
</select>
<br />
<div class='form-group'>
	<input type='text' class='form-control'  placeholder='Кол-во за смену' name='allsum'>
</div>
<br />
<div class='form-group'>
	<!--<small class="form-text text-muted">Дата</small>-->
	<input type='date' class='form-control'  placeholder='Дата' name='datecreatebox'>
</div>
<br />
<select class="form-select" name='datemaster'>
  <option selected>Мастер смены</option>
  <option value="Пупа Лупов">Пупа Лупов</option>
  <option value="Кама Пуля">Кама Пуля</option>
  <option value="Юрий Недудь">Юрий Недудь</option>
</select>
</div>
<br />
<button type='submit' class='btn btn-primary'>Добавить</button>



</form>


</body>



</html>