<head>
	<meta charset='UTF-8'>
	<title>Info</title>
	<link rel='stylesheet' href='styles/contacts.css' type="text/css"/>

</head>

	<div class='center-container-text'>
		<h2>Info</h2>
	</div>

<div class='bar-contacts'>
	
	<div class='about-me'>
		<p>Author: Max Lar</li>
		<p>My GitHub: https://github.com/RikersMax</p>

		<p>My Telegram: https://t.me/RikersMax</p>		
		
		<p>My Gmail: larionov01996@gmail.com</p>
	</div>

        <div class='review-client'>

		<div class='center-container-text'>
			<h3>Send me mail</h3>
		</div>

	<div class='form-mail'>

		<form method='post' action='/client-review'>
		
		<div>
		<label>Email</label>
		<input type='text' value='' placeholder='Enter your mail' name='email_name'/>
		</div>

		<div>
		<label>Password</label>
		<input type='password' value='' placeholder='Enter pass mail' name='email_pass'/>
		</div>

		<div>
		<label>Header</label>
		<input type='text' value='' placeholder='Header mail' name='email_header'/>
		</div>
	
		<div class='mail-center-form'>
		<label class='center-container-text'>Massage</label>
		<textarea type='text' value='' placeholder='Enter massage' name='email_text'></textarea>
		</div>

		<div>
		<button class='button-good' type='submit'>Submit</button>
		</div>
				
		</form>
	</div>
	</div>



</div>
	
