<!DOCTYPE html>
<html>
	<head>
		<title><%= @title ? @title : '86 цех' %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" content-type="text/html; charset=UTF-8">
		<!-- Bootstrap -->
		<link href="/css/bootstrap.min.css" rel="stylesheet" >
		<link href="/my_css/navbar-bg.css" rel="stylesheet">		
	</head>
	<body>
<div class="container">
<!--"navbar navbar-expand-lg navbar-light bg-light"-->
	<nav class="navbar navbar-expand-md navbar-linght bg-my" role="navigation">
	<div class="container-fluid">
	<a class="navbar-brand" href="/">Главная</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Переключатель навигации">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
		<a class="nav-link active" aria-current="page" href="/warehours">Учет</a>
		<a class="nav-link active" href="/">lorem</a>
		<a class="nav-link active" href="/">lorem</a>                              
		</div>	
	</div>
	<% if username == session[:identity] then %>
	<div class='container'>
	  	<a class="nav-link active" href="/">test</a>
	</div>
	<% end %>
	<div class="navbar-nav pull-right">		
		<a class="nav-link active" href="/login"><%= username %></a>
	</div>
</div>
</nav>

<div>
	<%if @error then %>
		<div class="alert alert-error"><%=@error%></div>
	<% end %>
	<%= yield %>
</div>

</div>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
