<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>

	<script type='text/javascript' src='/scripts/script.js'></script>
	
	<link rel='stylesheet' href='/styles/style_layout.css'>
	<link rel='stylesheet' href='/styles/style.css'>

	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
	
</head>
<body>


<div class='main-container-grid'>
<div class='nav-bar-container'>

	<div class='logo'>
	      <h1><a href='/'>Barber-shop</a></h1>	
	</div>


	<div class='list'>
	<ul>
	  	<li><a href='/visit'>Visit</a></li>
		<li class='center-item'><a href='/about'>About</a></li>
		<li><a href='/contacts'>Info</a></li>
		<li><a href='/test_jquery'>Test</a></li>
	</ul>

	<div class='log-in'>
		<a href='#' title='come in'>log in</a>
	</div>
	</div>
</div>

<div class='container-content'>
	<% if @error then%>
		<div class='alert-error'><%= @error %></div>
	<% end %>
	<%= yield%>
</div>

<footer class='container-footer'>
	<div class='footer-info'>
		<p>This project is not commercial.</p>
		<p>I am just learning css and html.</p>
	</div>
	<div class='footer-links'>
		<p>Me contacts:</p>
		<br>
		<ul>
			<li>
			<a href='https://github.com/RikersMax' target='_blanck'><img class='img-links' src='/images/GitHub_Logo.png' alt='GitHub' title='My GitHub'></a>
			</li>
			
			<li>
			<a href='https://t.me/RikersMax' target='_blanck'><img class='img-links' src='/images/Telegram_text_logo.svg.png' alt='Telegram' title='My Telegram'></a>
			</li>		

				
			<li>
			<div class='my-mail'>larionov01996@gmail.com</div>
			</li>
	
		</ul>
	</div>
</footer>

</div>



</body>
</html>