<!DOCTYPE html>
<html>
<head>
	<meta charset='UTF-8'>
	<link rel='stylesheet' href='styles/style_layout.css'>
</head>
<body>


<div class='main-container-bar'>
<div class='nav-bar-container'>

	<div class='logo'>
	      <h1><a href='/'>Barber-shop</a></h1>	
	</div>

	<div class='list'>
	<ul>
	  	<li><a href='/visit'>Visit</a></li>
		<li class='center-item'><a href='/about'>About</a></li>
		<li><a href='#'>Search</a></li>
	</ul>

	<div class='log-in'>
		<a href='#' title='come in'>log in</a>
	</div>

	</div>


</div>

<div class='container-content'>
	<%= yield%>
</div>


</div>
</body>
</html>