<!DOCTYPE html>
<html>

<head>
	<meta content-type="text/html; charset=utf-8">
</head>

<body>	
	<h3 class='text-muted'><%= @access %></h3><br />

<form action='/login/access' method='POST'>
<div class='container'>
	<div class="form-check">
		<input class="form-check-input" type="radio" name="job_title" id="jobtitle1" checked>
		<label class="form-check-label" for="jobtitle1">
		Начальник цеха   
		</label>
	</div>
	
	<div class="form-check">
		<input class="form-check-input" type="radio" name="job_title" id="jobtitle2">
		<label class="form-check-label" for="jobtitle2">
		Начальник участка
		</label>
	</div>

	<div class="form-check">
		<input class="form-check-input" type="radio" name="job_title" id="jobtitle3">
		<label class="form-check-label" for="jobtitle3">
		Мастер   
		</label>
	</div>

</div>
	<p>
	<div class='form-group'>
		<label for='login'>Login</label>
		<input type='text' class='form-control' id='login' placeholder='Введите имя' name='user_login'>
		<!--<small class='text-muted'>You registered name</small>--><br />				
	</div>
	<div class='form-group'>
		<label for='pass'>Password</label>
		<input type='password' class='form-control' id='pass' placeholder='Введите пароль' name='user_pass'>
	</div><br />
	<button type='submit' class='btn btn-primary'>Войти</button>
	</p>
</form>


</body>

</html>