
<form action='/login/access' method='post' class="form-inline well">
<p>
	<%= @access %>
	<br />
	<input type="text" name='users' placeholder="username" autofocus> 
	<br />
	<input type="password" name='userspass' placeholder="pass" autofocus>	
	<br />
	<input class="btn primary" type='submit' value='log in'>
</p>
</form>
