<!DOCTYPE html>
<html>
<head>
	<meta charset='UTF-8'>
	<title>Home</title>
	<link rel='stylesheet' href='styles/style.css' type="text/css">
</head>

<body>

<div>
	<script type='text/javascript'>
	alert('in developing')

	</script>

	<p>hello!!!!</p>
	<p>world!</p>	



</div>




</body>
</html>