<!DOCTYPE html>
<html>

<head>


</head>

<body>
<br />
	<h2 class='text-center'>Остатки на складе</h2>
	<br />
	<a class="btn btn-primary" href="/stock" role="button">Обновить</a>
	<% if session[:identity] then %>

	<a class="btn btn-primary" href="/stock" role="button">Редактировать</a>	

	<% end %>	
	<p><%= @file_stock%></p>

</body>




</html>