<!DOCTYPE html>
<html>
<head>
	<meta charset='UTF-8'>
	<title>Visit</title>
	<link rel='stylesheet' href='/styles/visit.css' type='text/css'>
</head>

<body>

<div class='center-container-text'>
	<h2>Visit</h2>

	<p>Here you can make an appointment with a hairdresser</p>
</div>

<div class='container_form_user'>

	<div class='form_for_user'>
	<form method='post' action='/visit-client' role='form'>
	
	<div>
	<label>Your first name</label>
	<input type='text' name='user_fname' value='<%= @user_fname_client %>' placeholder='Enter name'/>
	</div>

	<div>
	<label>Your last name</label>
	<input type='text' name='user_lname' value='<%= @user_lname_client %>' placeholder='Enter last name'/>
	</div>

	<div>
	<label>Your phonte</label>
	<input type='tel' name='user_phone' value='<%= @user_phone_client %>' placeholder='Enter phone'/>
	</div>

	<div>
	<label>Select date of visit</label>
	<input type='date' name='user_time' value='<%= @user_time_client ? @user_time_client : Time.now.strftime("%Y-%m-%d") %>'/>
	</div>

	<div>
	<p><input type='radio' name='gender' value='men' id='radio_men'/>Man</p>
	<p><input type='radio' name='gender' value='women' id='radio_women'/>Woman</p>
	</div>

	<div>
	<label>Choise barber</label>
	<select name='barber_name'>
		<option value='name_1'>Tanya</option>
		<option value='name_2'>Bryan</option>
		<option value='name_3' selected>Saif</option>
	</select>

	</div>

	<div class='visit-center-form'>
	<label class='center-container-text'>Wishes</label>
	<textarea name='user_text' placeholder='Enter text'></textarea>

	</div>
	
	<div>
	<button class='button-good' type='submit'>Submit</button>
	</div>


	</form>
	</div>

</div>


</body>
</html>