<!DOCTYPE html>
<html>

<head>
	<meta content-type="text/html; charset=utf-8">
     
</head>

<body>

<div class='container'>
<!--<nav class="navbar navbar-expand-lg bg-body-tertiary">-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

	<div class="container-fluid">
	<div class="collapse navbar-collapse" id="navbarNav">
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="/add">Приход</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="#">Расход</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="#">Склад</a>
		</li>
	</ul>
	</div>
	</div>
</nav>
</div>



</body>





</html>