


.about-block {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, auto);
}


.about-us {
	grid-column: 2/12;
	grid-row: 1;
}

.images {
	display: grid;
	
	grid-template-columns: repeat(6, 1fr);


	grid-column: 2/12;
	grid-row: 2;
}

p {
	margin: 5px 0px 5px 0px;
}