




.about-block {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, auto);
}


.about-block p {
	margin: 5px 0px 5px 0px;
}


.about-us {
	grid-column: 2/12;
	grid-row: 1;
}


.company-founder {
	grid-column: 2/12;
	grid-row: 2
}


.images-founder {
	font-size: 1rem;
}

.images-founder>img {
	width: 30%;
	height: auto;

	border-radius: 10px;

	
}