.button-good {
	border-width: 2px;
	border-radius: 10px;
	padding: 10px 15px 10px 15px;
	color: #000;
	background-color: #3bff76;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.button-good:hover {
	background-color: #94ffb4; 
	cursor: pointer;	
}

.center_container {
	text-align: center;
	
}

