
* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif; 
}


.main-container-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}


.nav-bar-container {
	display: flex;
	justify-content: space-between;
	grid-column: 2/12;
	grid-row: 1/2;
	height: 50px;
	
	background-color: #9fc7af;

	border-style: solid;
	border-radius: 10px;
	border-width: 0.5px;	

	align-items: center;
	padding-left: 2rem;
	padding-right: 2rem;
	font-size: 24px;

}

.nav-bar-container a {
	text-decoration: none;
	color: #000;
}

.nav-bar-container a:hover {
	text-decoration: underline;	
}

.list {
	display: flex;
}

.list>ul{
	display: flex;
	list-style: none;
	height: 100%;
}

.list>ul>li {
	padding-left: 10px;
	padding-right: 10px;
}

.center-item {
	border-left: solid 0.5px;
	border-right: solid 0.5px;
}

.log-in {
	margin-left: 2em;
}


.logo>h1 {
	color: green;
	font-size: 30px;
}                







.container-content {
	margin-top: 2em;
	margin-bottom: 2em;
	grid-column: 2/12;	
	font-size: 2em;
}







.container-footer {
	display: flex;
	justify-content: space-around;

	background-color: #59705c;
	grid-row: 3/4;
	grid-column: 2/12;
	
	padding: 1em;	
}



.footer-links li {	
	list-style: none;
	margin-bottom: 1em;
	
}


.footer-links img {
	width: 100px;
	margin-left: -7px;
	height: 40px;
}








