.button-good {
	border-width: 2px;
	border-radius: 10px;
	padding: 10px 15px 10px 15px;
	color: #000;
	background-color: #9fc7af;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	font-size: 1rem;
}

.button-good:hover {
	background-color: #94ffb4; 
	cursor: pointer;	
}


.center-container-text {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px; 
}

.alert-error {
	background-color: rgba(245, 73, 96, 0.8);
	border-radius: 10px;
	padding-left: 10px;
}


.link-text {
	color: #5b84c7;
}

.link-text:hover {
	text-decoration: none;
}



