


.table-users {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;

	font-size: 1rem;
}

.table-users>thead th {
	height: 2rem;

}


.table-users>thead tr,th{
	border-style: solid;
	border-width: 1px;	

}


.table-users>tbody td {
	border-style: solid;
	border-width: 1px;	
	padding: 5px;
}

.table-users>caption {
	font-size: 2rem;
	margin-bottom: 10px;	
}

.table-users>tbody tr:nth-child(odd) {
	background-color: #C9E4F6;
}

.table-users>tbody tr:nth-child(even) {
	background-color: #B4DAF2;
}

.table-users>tbody tr:hover {
	background: #edfcfc;
}




          
